<div id="page">
	<div class="header">
		<a class="bars d-block d-md-none" href="#menu"><span></span></a>

		<div class="" >
			<span class="float-left d-none d-md-inline">
				<a href="{% url 'redirect_index' %}">  <img style="width: 116px;" src="{% static 'images/bufintech_logo1.PNG' %}"></a>
			</span> 
			<span class="float-left d-inline d-md-none" style="font-size: 13px; padding: 0 10px;">
				<a href="{% url 'redirect_index' %}">  <img style="width: 42%;" src="{% static 'images/bufintech_logo1.PNG' %}"></a>
			</span> 			
				<ul class="list-style-none li-padding float-right d-none d-md-block">
					<!-- <li><a class="a-effect" href="#" >EN</a> </li>
					<li> <a class="a-effect" href="#" >ES</a></li>
					<li> <a class="a-effect" href="#" >TK</a></li> -->
					{% if request.user.is_authenticated %}
					<li><a href="{% url 'profile' %}">Profile</a></li>
					<li><a href="{% url 'logout' %}">Logout</a></li>
					{% else %}
					<li><a href="{% url 'login' %}">Login</a></li>
					{% endif %}
					
				</ul>
			
			
			
		</div>
	</div>
	<!-- <div style=" margin: auto;" class="logo-wide" id="header-col2">
				</div> -->
	 <!-- [ auth-signin ] start -->
	<div class="">
		   
	{% block content %}{% endblock content %}

	</div>
		<!-- [ auth-signin ] end -->
	<nav id="menu">
		<ul>
			
			{% if request.user.is_authenticated %}
			<li><a href="{% url 'profile' %}">Profile</a></li>

			<!-- <li>
				<span>Languages</span>
				<ul>
					<li><a href="#">EN</a></li>
					<li><a href="#">ES</a></li>
					<li><a href="#">TK</a></li>
				</ul>
			</li> -->
			
			<li><a href="{% url 'logout' %}">Logout</a></li>
			{% else %}
			<!-- <li><a href="#">EN</a></li>
			<li><a href="#">ES</a></li>
			<li><a href="#">TK</a></li> -->
			<li><a href="{% url 'login' %}">Login</a></li>
			{% endif %}
			
		</ul>
	</nav>
</div>