{% extends 'base/home.html' %}
{% load static %}

{% block content %}
<div class="container" id="analytics_container">
	<p id="pageName" style="text-align:center">Analytics App</p>
	<div class="width">
		<ul class="nav nav-tabs" id="analytics_tabs">
		  <li class="nav-item">
			<a class="nav-link" id="algoTrader" data-toggle="tab"  href="#systematic_trading">Algo Trader</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" id="tradeIdeas" data-toggle="tab"  href="#stock_picker">Trade Ideas</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" id="marketMover" data-toggle="tab"  href="#market_mover">Market Mover</a>
		  </li>		  
		  <li class="nav-item">
			<a class="nav-link" id="prospecting" data-toggle="tab"  href="#company_prospecting">Prospecting</a>
		  </li>
		</ul>
		<div class="tab-content" align="center">
			<div id="systematic_trading" class="tab-pane fade in">
			<br />
				<table class="table table-bordered w-50">		
					<tbody class="justify-content-center">     				
							{% for instance in systematic_trading_data %}
								<tr style="background-color:rgba(0,0,0,.05);">
								{% for field, value in instance.fields.items %}
									{% if field != 'language'  %}
										<td>{{ value|linebreaks }}</td>
									{% else %}
										<td style="display:none">{{value}}</td>
									{% endif %}
								{% endfor %}
								</tr>
							{% endfor %}
					</tbody>
				</table>
			</div>
			<div id="stock_picker" class="tab-pane fade">			
			<br />
				<table class="table table-bordered w-50">		
					<tbody class="justify-content-center">     				
							{% for instance in stock_picker_data %}
								<tr style="background-color:rgba(0,0,0,.05);">
								{% for field, value in instance.fields.items %}
									{% if field != 'language'  %}
										<td>{{ value|linebreaks }}</td>
									{% else %}
										<td style="display:none">{{value}}</td>
									{% endif %}
								{% endfor %}
								</tr>
							{% endfor %}
					</tbody>
				</table>			
			</div>
			<div id="market_mover" class="tab-pane fade">			
			<br />
				<table class="table table-bordered w-50">		
					<tbody class="justify-content-center">     				
							{% for instance in market_mover_data %}
								<tr style="background-color:rgba(0,0,0,.05);">
								{% for field, value in instance.fields.items %}
									{% if field != 'language'  %}
										<td>{{ value|linebreaks }}</td>
									{% else %}
										<td style="display:none">{{value}}</td>
									{% endif %}
								{% endfor %}
								</tr>
							{% endfor %}
					</tbody>
				</table>			
			</div>
			  <div id="company_prospecting" class="tab-pane fade in">
				<br />
					<table class="table table-bordered w-50">		
						<tbody class="justify-content-center">     				
								{% for instance in company_prospecting_data %}
									<tr style="background-color:rgba(0,0,0,.05);">
									{% for field, value in instance.fields.items %}
										{% if field != 'language'  %}
											<td>{{ value|linebreaks }}</td>
										{% else %}
											<td style="display:none">{{value}}</td>
										{% endif %}
									{% endfor %}
									</tr>
								{% endfor %}
						</tbody>
					</table>
				</div>			
		</div>
    </div>
</div>

<script>
	const algoTradeNav = document.getElementById("algoTradeNav");
	const tradeIdeasNav = document.getElementById("tradeIdeasNav");
	const marketMoverNav = document.getElementById("marketMoverNav");
	const prospectingNav = document.getElementById("prospectingNav");

	algoTradeNav.addEventListener("click", function(){
		document.getElementById("algoTrader").click();
		document.getElementById("menu").classList.remove("mm-menu_opened");
	});

	tradeIdeasNav.addEventListener("click", function(){
		document.getElementById("tradeIdeas").click();
		document.getElementById("menu").classList.remove("mm-menu_opened");
	});

	marketMoverNav.addEventListener("click", function(){
		document.getElementById("marketMover").click();
		document.getElementById("menu").classList.remove("mm-menu_opened");
	});

	prospectingNav.addEventListener("click", function(){
		document.getElementById("prospecting").click();
		document.getElementById("menu").classList.remove("mm-menu_opened");
		
	});
	//mm-wrapper mm-wrapper_opened mm-wrapper_blocking mm-wrapper_background mm-wrapper_opening //mm-wrapper
	//mm-menu mm-menu_offcanvas mm-menu_opened //mm-menu mm-menu_offcanvas

	// const hideNav = document.getElementById("hideNav");
	// hideNav.addEventListener("click", function(){
	// 	console.log("Clicked Open");
	// })

	const slideout = document.querySelectorAll(".mm-slideout");
	console.log(slideout[1])
	slideout[1].addEventListener("click", function(){
		console.log("Clicked Close");
	})

	// function sideBarFun(){
	// 	console.log("Clicked");
	// 	if(document.getElementById("menu").classList.contains("mm-menu_opened")){
	// 		document.getElementById("menu").classList.remove("mm-menu_opened")	
	// 	}else{
	// 		document.getElementById("menu").classList.add("mm-menu_opened")
	// 	}

	// 	if(document.getElementsByTagName('body')[0].classList.contains("mm-wrapper_opened")){
	// 		document.getElementsByTagName('body')[0].classList.remove("mm-wrapper_opened")
	// 		document.getElementsByTagName('body')[0].classList.remove("mm-wrapper_blocking")
	// 		document.getElementsByTagName('body')[0].classList.remove("mm-wrapper_background")
	// 		document.getElementsByTagName('body')[0].classList.remove("mm-wrapper_opening")
	// 	}else{
	// 		document.getElementsByTagName('body')[0].classList.add("mm-wrapper_opened")
	// 		document.getElementsByTagName('body')[0].classList.add("mm-wrapper_blocking")
	// 		document.getElementsByTagName('body')[0].classList.add("mm-wrapper_background")
	// 		document.getElementsByTagName('body')[0].classList.add("mm-wrapper_opening")
	// 	}

	// }

	// function closeBody(){
	// 	console.log("close")
	// 	$(".mm-wrapper__blocker.mm-slideout").on("click", function(e){
	// 	console.log("close click")
	// 	if ( document.getElementsByTagName('body')[0].classList.contains("mm-wrapper_opened")){
	// 		document.getElementsByTagName('body')[0].classList.remove("mm-wrapper_opened")
	// 		document.getElementsByTagName('body')[0].classList.remove("mm-wrapper_blocking")
	// 		document.getElementsByTagName('body')[0].classList.remove("mm-wrapper_background")
	// 		document.getElementsByTagName('body')[0].classList.remove("mm-wrapper_opening")
	// 		document.getElementById("menu").classList.remove("mm-menu_opened")
	// 	}
	// 	})
	// }
	

	// function sideBarFun(open){
	// 		console.log("Clicked", open);

	// 	document.getElementById("menu").classList.add("mm-menu_opened")
	// 	document.getElementsByTagName('body')[0].classList.add("mm-wrapper_opened")
	// 	document.getElementsByTagName('body')[0].classList.add("mm-wrapper_blocking")
	// 	document.getElementsByTagName('body')[0].classList.add("mm-wrapper_background")
	// 	document.getElementsByTagName('body')[0].classList.add("mm-wrapper_opening")

	// 		console.log("body click")
	// 		setTimeout(function(e){
	// 		document.getElementsByClassName("mm-wrapper__blocker")[0].addEventListener("click", closeBody() )

	// 		},30)
	

	// 	}
</script>

{% endblock content %}