{% extends 'base/home.html' %}
{% load static %}

{% block content %}
<div class="container">
	<br />
	<div class="width">		
			<br />
		<div class="d-block d-md-flex">
			<input  type="text" placeholder="Search by Date ..." id="epublic_search_date" class="form-control my-2 my-md-0 col-12 col-md-3 datepicker mr-5">

			<select  class="form-control col-12 col-md-3 mr-5" id="epublic_search_month" title="Search By Month">
				<option value="">Search By Month</option>
				<option value="Jan">Jan</option>
				<option value="Feb">Feb</option>
				<option value="Mar">March</option>
				<option value="Apr">April</option>
				<option value="May">May</option>
				<option value="June">June</option>
				<option value="Jul">July</option>
				<option value="Aug">Aug</option>
				<option value="Sept">Sept</option>
				<option value="Oct">Oct</option>
				<option value="Nov">Nov</option>
				<option value="Dec">Dec</option>
			</select>
			<input  type="number" placeholder="Search by Year ..." id="epublic_search_year" class="form-control col-12 col-md-3 mt-2 mt-md-0 mr-5">
		</div>
		<br>
		<div class="d-block d-md-flex">	
			<select  class="form-control col-12 col-md-5 mr-5" id="epublic_search_market" title="Search By Market">
				<option value="">Search By Market</option>
				<option value="public">public</option>
				<option value="private">private</option>
			</select>
			<select  class="form-control col-12 col-md-5 mr-5" id="epublic_search_ticker" title="Search By Ticker">
				<option value="">Search By Ticker</option>
			{% for ticker in tickers %}
				<option value="{{ticker.Ticker}}">{{ticker.Ticker}}</option>
			{% endfor %}
			</select>
		</div>
		<br />
			
			<table id="example" class="table table-striped table-bordered" style="width:100%">
				<thead>
					<!-- <tr>
						{% for field in table_form %}
						{% if field.label  == 'Url' %}					
						<th> {{field.label}} </th>
						{%else%}
						<th> {{field.label}} </th>
						{% endif %}
						{% endfor %}
					</tr> -->
					<tr>
						<th>Product</th>
						<th>Market</th>
						<th>Date</th>
						<th>Ticker</th>
						<th>Description</th>
						<th>Research</th>
						<th>YouTube</th>
						<th>PodCast</th>
					</tr>
				</thead>
				<tbody>
					{% for data in obj %}
						<tr>
							<td>{{data.Product}}</td>
							<td>{{data.Market}}</td>
							<td>{{data.Date}}</td>
							<td>{{data.Ticker}}</td>
							<td>{{data.Description}}</td>
							{% if display_url == False %}
								<td> 
									<a class="blurLinks" href="{% url 'payment' %}" onmouseover="hov(this)" onmouseout="hovOut(this)">https://www.itsatesingurl/test1/com/</a>
								</td>
							{% else %}
								<td>{{data.Research}}</td>
							{% endif %}
							<td>{{data.Youtube}}</td>
							<td>{{data.Podcast}}</td>
						</tr>
					{% endfor %}
					
						<!-- {% for instance in data %}
							<tr>
							{% for field, value in instance.fields.items %}
									{% if field == 'Research' and value != '' %}
									{% if display_url == False %}
										<td> 
											<a class="blurLinks" href="{% url 'payment' %}" onmouseover="hov(this)" onmouseout="hovOut(this)">https://www.itsatesingurl/test1/com/</a>
										</td>
									{% else %}
											<td> <a  href="{{value}}"> {{value}}</a></td>
									{% endif %}
									
									{% elif field == 'Website' and value != '' %}
										<td> <a href="{{value}}">{{value}}</a></td>
									{% elif field == 'Date' %}
										<td> {{value|date:"m/d/Y" }} </td>
									{% else %}
										<td> {{value}} </td>								
									{%endif%}
							{% endfor %}
							</tr>
						{% endfor %}     
					</tr>      -->
				</tbody>
			</table>
			<br />
    </div>
</div>

{% endblock content %}