{% extends 'base/home.html' %}
{% load static %}

{% block content %}
<style>
    .fade{
        opacity: 0.5 !important;
    }
</style>
<div class="container">
    {% comment %} <input id="myInput" type="text" placeholder="Search.." class="input_1"> {% endcomment %}
    <br>
	{% if error %}
		<div class="alert alert-danger" role="alert">
		  This following error has occured: <br />
		  <strong>{{error}}</strong>
		</div>
	{% endif %}
	{% if success %}
		<div class="alert alert-success" role="alert">
		  You have successfully subscribed  <br />
		</div>
	{% endif %}	
    <p style="text-align: center;">BuFinTech is the Future of Research and Analytics Platform</p>
    <table id="example" class="table table-striped table-bordered display" style="width: 100%; overflow-y: auto;display: block;">
        <thead>
            <tr>
                <td>Platform</td>
                <td>Username</td>
                <td>Url</td>
            </tr> 
        </thead>
        <tbody>
            
                {% for instance in data %}

                <tr>
                    {% for field, value in instance.fields.items %}
                        {% if field != 'language'  %}
                        
                            {% if field == 'url' %}
                                <td> <a  href="{{value}}"> {{value}}</a></td>
                            {% else %}
                                <td> {{value}} </td>
                            {%endif%}
						{% else %}
                            <td  style="display:none">{{ value  }}</td>														
                        {% endif %}
						
                    {% endfor %}
                    </tr>

                {% endfor %}     
            
        </tbody>
    </table>
    {% if display_url == False %}
    
        
    {% endif %}
</div>
<div class="row d-flex justify-content-center">
		{{NewsLetterText.0.Sentence}}
</div>
<div class="row d-flex justify-content-center">
    <form class="subscribe_form" action="{% url 'index' Language=Language %}" method="POST"> 
        {% csrf_token %}
        <input type="text" placeholder="Name" name="name" >
        <input type="email" placeholder="Email" name="email" required>
        <input type="text" placeholder="Phone" name="phone" >
        <button type="submit" class="btn btn-outline-primary">Subscribe</button>
    </form>
</div>

{% endblock content %}