{% extends 'base/home.html' %}
{% load static %}

{% block content %}
<div class="container">
	<p id="pageName" style="text-align:center">Money Making</p>
	<div class="width">
		<ul class="nav nav-tabs">
		  <li class="nav-item">
			<a class="nav-link" data-toggle="tab"  href="#public">{{sub_items.0.0}}</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" data-toggle="tab"  href="#private">{{sub_items.1.0}}</a>
		  </li>
		</ul>
		<div class="tab-content">
			<div id="public" class="tab-pane fade in">
			<br />
			<div class="d-block d-md-flex">
	
				<select style="height: 25px; font-size: 10px; padding: 4px;" class="form-control col-12 col-md-2 mt-2 mt-md-0 mr-2" id="trading_search_date" title="Search By Date">
					<option value="">Search by Date</option>
				</select>

				<select style="height: 25px; font-size: 10px; padding: 4px;" class="form-control col-12 col-md-2 mt-2 mt-md-0 mr-2" id="trading_search_month" title="Search By Month">
					<option value="">Search by Month</option>
				</select>

				<select style="height: 25px; font-size: 10px; padding: 4px;" class="form-control col-12 col-md-2 mt-2 mt-md-0 mr-2" id="trading_search_year" title="Search By Year">
					<option value="">Search by Year</option>
				</select>

				<select style="height: 25px; font-size: 10px; padding: 4px;" class="form-control col-12 col-md-2 mt-2 mt-md-0 mr-2" id="trading_search_identifier" title="Search By Identifier">
					<option value="">Search by Identifier</option>
				</select>

			</div>
			<br />
				<table id="example" class="table table-striped table-bordered" style="width:100%">
					<thead>
						<tr>
							{% for field in table_form %}					
								{% if field.label  == 'Url' %}
									{% if display_url %}
										<th> {{field.label}} </th>
									{% endif %}
								{% elif field.label  == 'Language' %}
			
								{% else %}
									<th> {{field.label}} </th>
								{% endif %}
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for instance in data %}
							<tr>
							{% for field, value in instance.fields.items %}
										{% if field == 'ReCap' %}
											{% if display_url == False %}
												<td style="min-width: 203px;"> 
													<a class="blurLinks" href="{% url 'payment' %}" onmouseover="hov(this)" onmouseout="hovOut(this)">https://www.itsatesingurl/test1/com/</a>
												</td>
											{% else %}
												<td> <a  href="{{value}}">{{value}}</a></td>
											{% endif %}
										{% elif field == 'Language' %}
										{% elif field == 'Youtube' %}
											{% if value %}
												<td> <a  href="{{value}}">{{value}}</a></td>
											{% else %}
												<td>None</td>
											{% endif %}	
										{% elif field == 'Podcast' %}
											{% if value %}
												<td><a href="{{value}}">{{value}}</a></td>
											{% else %}
												<td>None</td>
											{% endif %}	
										{% elif field == 'ROI' %}
											{% if value and value != 'none' %}
												<td>{{value|floatformat:2}}%</td>
											{% else %}
												<td>None</td>
											{%endif%}	
										{% else %}
											<td> {{value }} </td>								
										{%endif%}
							{% endfor %}
							</tr>
						{% endfor %} 
					</tbody>
				</table>
			</div>
			<div id="private" class="tab-pane fade">
			<br />

			<div class="d-block d-md-flex">
				<select style="height: 25px; font-size: 10px; padding: 4px;" class="form-control col-12 col-md-2 mt-2 mt-md-0 mr-2" id="investing_search_date" title="Search By Date">
					<option value="">Search by Date</option>
				</select>

				<select style="height: 25px; font-size: 10px; padding: 4px;" class="form-control col-12 col-md-2 mt-2 mt-md-0 mr-2" id="investing_search_month" title="Search By Month">
					<option value="">Search by Month</option>
				</select>

				<select style="height: 25px; font-size: 10px; padding: 4px;" class="form-control col-12 col-md-2 mt-2 mt-md-0 mr-2" id="investing_search_year" title="Search By Year">
					<option value="">Search by Year</option>
				</select>

				<select style="height: 25px; font-size: 10px; padding: 4px;" class="form-control col-12 col-md-2 mt-2 mt-md-0 mr-2" id="investing_search_market" title="Search By Market">
					<option value="">Search by Market</option>
				</select>

				<select style="height: 25px; font-size: 10px; padding: 4px;" class="form-control col-12 col-md-2 mt-2 mt-md-0 mr-2" id="investing_search_ticker" title="Search By Ticker">
					<option value="">Search by Ticker</option>
				</select>
			</div>
			<br />
				<table id="example1" class="table table-striped table-bordered" style="width:100%">
					<thead>
						<tr>
							{% for field in table_form1 %}					
								{% if field.label  == 'Url' %}
									{% if display_url %}
										<th> {{field.label}} </th>
									{% endif %}
								{% elif field.label  == 'Language' %}

								{% else %}
									<th> {{field.label}} </th>
								{% endif %}
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for instance in data1 %}
							<tr>
							{% for field, value in instance.fields.items %}
										{% if field == 'ReCap' %}
											{% if display_url == False %}
												<td style="min-width: 203px;"> 
													<a class="blurLinks" href="{% url 'payment' %}" onmouseover="hov(this)" onmouseout="hovOut(this)">https://www.itsatesingurl/test1/com/</a>
												</td>
											{% else %}
												<td> <a  href="{{value}}">{{value}}</a></td>
											{% endif %}
										{% elif field == 'Language' %}
										{% elif field == 'Youtube' %}
											{% if value %}
												<td> <a  href="{{value}}">{{value}}</a></td>
											{% else %}
												<td>None</td>
											{% endif %}	
										{% elif field == 'Podcast' %}
											{% if value %}
												<td><a href="{{value}}">{{value}}</a></td>
											{% else %}
												<td>None</td>
											{% endif %}
										{% elif field == 'ROI' %}
											{% if value and value != 'none' %}
												<td>{{value|floatformat:2}}%</td>
											{% else %}
												<td>None</td>
											{%endif%}	
										{% else %}
											<td> {{value }} </td>								
										{%endif%}
							{% endfor %}
							</tr>
						{% endfor %} 
					</tbody>
				</table>
			</div>			
		</div>
    </div>
</div>

{% endblock content %}