{% extends 'base/home.html' %}
{% load static %}

{% block content %}
<div class="container">
	<p id="pageName" style="text-align:center">Money Making</p>
	<div class="width">
		<ul class="nav nav-tabs">
		  <li class="nav-item">
			<a class="nav-link" data-toggle="tab"  href="#public">{{sub_items.0.0}}</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" data-toggle="tab"  href="#private">{{sub_items.1.0}}</a>
		  </li>
		</ul>
		<div class="tab-content">
			<div id="public" class="tab-pane fade in">
			<br />
			<div class="d-block d-md-flex">
				<input style="height: 25px; font-size: 10px; padding: 4px;" type="text" placeholder="Search by Trade Date ..." id="trading_search_date" class="form-control col-12 col-md-2 mt-2 mt-md-0 datepicker mr-2">

				<select style="height: 25px; font-size: 10px; padding: 4px;" class="form-control col-12 col-md-2 mt-2 mt-md-0 mr-2" id="trading_search_month" title="Search By Month">
					<option value="">Search by Month</option>
					<option value="Jan">Jan</option>
					<option value="Feb">Feb</option>
					<option value="Mar">March</option>
					<option value="Apr">April</option>
					<option value="May">May</option>
					<option value="June">June</option>
					<option value="Jul">July</option>
					<option value="Aug">Aug</option>
					<option value="Sept">Sept</option>
					<option value="Oct">Oct</option>
					<option value="Nov">Nov</option>
					<option value="Dec">Dec</option>
				</select>
				<input style="height: 25px; font-size: 10px; padding: 4px;" type="number" placeholder="Search by Year ..." id="trading_search_year" class="form-control col-12 col-md-2 mt-2 mt-md-0 mr-2">
				<input style="height: 25px; font-size: 10px; padding: 4px;" type="text" placeholder="Search by Identifier ..." id="trading_search_identifier" class="form-control col-12 col-md-2 mt-2 mt-md-0  mr-2">
			</div>
			<br />
				<table id="example" class="table table-striped table-bordered" style="width:100%">
					<thead>
						<tr>
							{% for field in table_form %}					
								{% if field.label  == 'Url' %}
									{% if display_url %}
										<th> {{field.label}} </th>
									{% endif %}
								{% elif field.label  == 'Language' %}
			
								{% else %}
									<th> {{field.label}} </th>
								{% endif %}
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for instance in data %}
							<tr>
							{% for field, value in instance.fields.items %}
										{% if field == 'ReCap' %}
											{% if display_url == False %}
												<td style="min-width: 203px;"> 
													<a class="blurLinks" href="{% url 'payment' %}" onmouseover="hov(this)" onmouseout="hovOut(this)">https://www.itsatesingurl/test1/com/</a>
												</td>
											{% else %}
												<td> <a  href="{{value}}">{{d.fields.ReCap}}</a></td>
											{% endif %}
										{% elif field == 'Date' %}
											<td> {{value|date:"m/d/Y" }} </td>
										{% elif field == 'Language' %}
										{% else %}
											<td> {{value }} </td>								
										{%endif%}
							{% endfor %}
							</tr>
						{% endfor %} 
					</tbody>
				</table>
			</div>
			<div id="private" class="tab-pane fade">
			<br />

			<div class="d-block d-md-flex">
				<input style="height: 25px; font-size: 10px; padding: 4px;" type="text" placeholder="Search by Entry Date ..." id="investing_search_date" class="form-control col-12 col-md-2 mt-2 mt-md-0 datepicker mr-2">

				<select style="height: 25px; font-size: 10px; padding: 4px;" class="form-control col-12 col-md-2 mt-2 mt-md-0 mr-2" id="investing_search_month" title="Search By Month">
					<option value="">Search by Month</option>
					<option value="Jan">Jan</option>
					<option value="Feb">Feb</option>
					<option value="Mar">March</option>
					<option value="Apr">April</option>
					<option value="May">May</option>
					<option value="June">June</option>
					<option value="Jul">July</option>
					<option value="Aug">Aug</option>
					<option value="Sept">Sept</option>
					<option value="Oct">Oct</option>
					<option value="Nov">Nov</option>
					<option value="Dec">Dec</option>
				</select>
				<input style="height: 25px; font-size: 10px; padding: 4px;" type="number" placeholder="Search by Year ..." id="investing_search_year" class="form-control col-12 col-md-2 mt-2 mt-md-0 mr-2">
				<input style="height: 25px; font-size: 10px; padding: 4px;" type="text" placeholder="Search by Market ..." id="investing_search_market" class="form-control col-12 col-md-2 mt-2 mt-md-0 mr-2">
				<input style="height: 25px; font-size: 10px; padding: 4px;" type="text" placeholder="Search by Ticker ..." id="investing_search_ticker" class="form-control col-12 col-md-2 mt-2 mt-md-0 mr-2">
			</div>
			<br />
				<table id="example1" class="table table-striped table-bordered" style="width:100%">
					<thead>
						<tr>
							{% for field in table_form1 %}					
								{% if field.label  == 'Url' %}
									{% if display_url %}
										<th> {{field.label}} </th>
									{% endif %}
								{% elif field.label  == 'Language' %}
			
								{% else %}
									<th> {{field.label}} </th>
								{% endif %}
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for instance in data1 %}
							<tr>
							{% for field, value in instance.fields.items %}
										{% if field == 'ReCap' %}
											{% if display_url == False %}
												<td style="min-width: 203px;"> 
													<a class="blurLinks" href="{% url 'payment' %}" onmouseover="hov(this)" onmouseout="hovOut(this)">https://www.itsatesingurl/test1/com/</a>
												</td>
											{% else %}
												<td> <a  href="{{value}}">{{d.fields.ReCap}}</a></td>
											{% endif %}
										{% elif field == 'Date' %}
											<td> {{value|date:"m/d/Y" }} </td>
										{% elif field == 'Language' %}
										{% else %}
											<td> {{value }} </td>								
										{%endif%}
							{% endfor %}
							</tr>
						{% endfor %} 
					</tbody>
				</table>
			</div>			
		</div>
    </div>
</div>

{% endblock content %}