{% extends 'base/home.html' %}
{% load static %}

{% block content %}
<div class="container" align="center">
    <br>
    <table id="example" class="table table-bordered w-50" style="background-color:rgba(0,0,0,.05);">		
        <tbody class="justify-content-center">     				
                {% for instance in data %}
                    {% for field, value in instance.fields.items %}
                    <tr style="background-color:rgba(0,0,0,.05);"></tr>
                        {% if field != 'language'  %}
                            <td>{{ value|linebreaks }}</td>
                        {% else %}
							<td style="display:none">{{value}}</td>
						{% endif %}
                    </tr>
                    {% endfor %}
                {% endfor %}
        </tbody>
    </table>
</table>
	
</div>
<br />
{% endblock content %}